{%- set d = database_description if database_description is mapping else {} -%}
{%- set ts = d.title_statement if d.title_statement is mapping else {} -%}
{%- if ts.title -%}
{{ ts.title }}
{%- endif -%}
