{% if document_description.title_statement.title %}Title: {{ document_description.title_statement.title }}{% endif %}
{% if document_description.abstract %}
Abstract: {{ document_description.abstract }}{% endif %}